---
- name: Install fzf
  become: true
  apt:
    update_cache: yes
    state: latest
    pkg:
      - fzf

- name: Git clone fzf-tab
  git:
    repo: "{{ fzf_tab_git_repository }}"
    dest: "{{ omz_install_path }}/custom/plugins/fzf-tab"
    update: true
    accept_hostkey: true
